<app-header [isTransparent]="true"></app-header>

<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container" uniScrollSpy="home">
    <h1>Kunal Gurav</h1>
    <h2>I'm a FrontEnd Developer In Mumbai City</h2>
    <a href="#about" class="btn-scroll scrollto" title="Scroll Down"><i class="bx bx-chevron-down"></i></a>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= About Me Section ======= -->
  <section id="about" class="about" uniScrollSpy="about">
    <div class="container">

      <div class="section-title" data-aos="flip-up">
        <span>About Me</span>
        <h2>About Me</h2>
        <p>"Humans are the reflection of their ideas"</p>
      </div>

      <div class="row">
        <div class="image col-lg-4 d-flex align-items-stretch justify-content-center justify-content-lg-start"
             data-aos="fade-right"></div>
        <div class="col-lg-8 d-flex flex-column align-items-stretch" data-aos="fade-left">
          <div class="content pl-lg-4 d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class='bx bxs-chevron-right'></i> <strong>Name:</strong> Kunal Gurav</li>
                  <li><i class='bx bxs-chevron-right'></i> <strong>Social:</strong>
                    <a href="https://www.linkedin.com/in/kunal-gurav/" target="_blank" class="btn-link">
                      www.linkedin.com/in/kunal-gurav/</a>
                  </li>
                  <li><i class='bx bxs-chevron-right'></i> <strong>Phone:</strong> +91 9594871310</li>
                  <li><i class='bx bxs-chevron-right'></i> <strong>City:</strong> Mumbai, Maharashtra, India</li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class='bx bxs-chevron-right'></i> <strong>Age:</strong> 25</li>
                  <li><i class='bx bxs-chevron-right'></i> <strong>Degree:</strong> BSc-IT</li>
                  <li><i class='bx bxs-chevron-right'></i> <strong>Email:</strong> kunalg30011996@gmail.com</li>
                  <li><i class='bx bxs-chevron-right'></i> <strong>Freelance:</strong> Available</li>
                </ul>
              </div>
            </div>
            <div class="row mt-n4">
              <!--<div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="icofont-simple-smile" style="color: #20b38e;"></i>
                  <span data-toggle="counter-up">4</span>
                  <p><strong>Happy Clients</strong> satisfied by End Product and Efficient work</p>
                </div>
              </div>

              <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="icofont-document-folder" style="color: #8a1ac2;"></i>
                  <span data-toggle="counter-up">4</span>
                  <p><strong>Projects</strong> Delivered in MVP pattern</p>
                </div>
              </div>-->

              <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="bx bx-time" style="color: #2cbdee;"></i>
                  <span data-toggle="counter-up">4.5</span>
                  <p><strong>Years of experience</strong> in web development and Hybrid App development</p>
                </div>
              </div>

              <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="bx bxs-trophy" style="color: #ffb459;"></i>
                  <span data-toggle="counter-up">3</span>
                  <p><strong>Awards</strong> and appreciations earned from clients in form of bonus</p>
                </div>
              </div>
            </div>
          </div><!-- End .content-->

          <div class="skills-content pl-lg-4">
            <div class="progress">
              <span class="skill">HTML & CSS<i class="val">Skillful</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                     style="width: 50%"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Bootstrap <i class="val">Experienced</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"
                     style="width: 75%"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Angular <i class="val">Experienced</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                     style="width: 75%"></div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">Typescript <i class="val">Experienced</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                     style="width: 75%"></div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">JavaScript <i class="val">Skillful</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                     style="width: 50%"></div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">Flutter <i class="val">Skillful</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                     style="width: 50%"></div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">Git <i class="val">Experienced</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                     style="width: 75%"></div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </section><!-- End About Me Section -->

  <!-- ======= My Resume Section ======= -->
  <section id="resume" class="resume" uniScrollSpy="resume">
    <div class="container">

      <div class="section-title" data-aos="zoom-in">
        <span>My Resume</span>
        <h2>My Resume</h2>
        <p>FrontEnd Web Developer, Angular Developer, Flutter Developer</p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="zoom-in-right">
          <h3 class="resume-title">Summary</h3>
          <div class="resume-item pb-0">
            <h4>Kunal Gurav</h4>
            <p><em>Innovative and strong work ethic-driven Front End Developer with 4+ years of experience in
              designing
              and developing responsive web pages from initial concept to final, polished deliverable.</em>
            </p>
            <div class="d-inline-block">
              <ul>
                <li>Mumbai, Maharashtra, India</li>
                <li>(+91) 9594871310</li>
                <li>kunalg30011996@gmail.com</li>
              </ul>
            </div>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Bachelor Of Science in Information Technology</h4>
            <h5>2013 - 2016</h5>
            <p><em>SIES College of Arts, Science and Commerce, Mumbai</em></p>
            <p>Passed with <strong>A grade</strong> (75%) from University of Mumbai</p>
          </div>
          <div class="resume-item">
            <h4>Higher Secondary Certificate</h4>
            <h5>2011 - 2013</h5>
            <p><em>SIES College of Arts, Science and Commerce, Mumbai</em></p>
            <p>Passed with <strong>69.83%</strong> from Maharashtra State Board</p>
          </div>
          <div class="resume-item">
            <h4>Secondary School Certificate</h4>
            <h5>2010 - 2011</h5>
            <p><em>SIES High School, Mumbai</em></p>
            <p>Passed with <strong>84.91%</strong> from Maharashtra State Board</p>
          </div>
        </div>
        <div class="col-lg-6" data-aos="zoom-in-left">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Front End Developer</h4>
            <h5>March 2019 - Present</h5>
            <p><em>Tribulus Tech Pvt Ltd, Mumbai</em></p>
            <div class="d-inline-block">
              <ul>
                <li>Created 5 Web Applications and 1 Hybrid Mobile Application</li>
                <li>Created Responsive Web Pages and reusable components in Angular</li>
                <li>Implemented PWA features Notifications for offline accessibility</li>
                <li>Used Firebase for both background and onscreen notifications</li>
                <li>Additional Security using AES Encryption and Decryption</li>
                <li>Created Hybrid App using Flutter</li>
                <li>Deployed Web Application on GCP, Linode, Digital Ocean Server</li>
                <li>Implemented CI/CD using cloud build on GCP</li>
                <li>Extensive use of Git for version controlling</li>
              </ul>
            </div>
          </div>
          <div class="resume-item">
            <h4>Jr. Software Engineer</h4>
            <h5>August 2016 - March 2019</h5>
            <p><em>TechMahindra, Pune</em></p>
            <div class="d-inline-block">
              <ul>
                <li>Developed the UI of the overview section with the services/directives approach in AngularJS.</li>
                <li>Worked closely with the client and BA to understand the user story requirement and documentation.
                </li>
                <li>Wrote J-Unit test cases to check for various scenarios to present defects and maintain the code
                  coverage above 80%.
                </li>
                <li>Maintained Code quality and followed coding standards for tasks at a given time while under
                  pressure
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End My Resume Section -->

  <!-- ======= My Services Section ======= -->
  <section id="services" class="services" uniScrollSpy="services">
    <div class="container">

      <div class="section-title" data-aos="flip-down">
        <span>My Services</span>
        <h2>My Services</h2>
        <p>"Quality trumps the Quantity"</p>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="flip-right">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4 class="title"><a href="">Hybrid Mobile Application</a></h4>
            <p class="description">Provide Android and IOS Applications built with flutter</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="flip-left">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4 class="title"><a href="">Web Application</a></h4>
            <p class="description">Provide high Performance website created in Angular</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End My Services Section -->

  <!-- ======= Testimonials Section ======= -->
  <!--<section id="testimonials" class="testimonials">
    <div class="container">

      <owl-carousel-o [options]="customOptions" class="testimonials-carousel">
        <ng-template carouselSlide>
          <div class="slide">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
              <h3>Saul Goodman</h3>
              <h4>Ceo &amp; Founder</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium
                quam,
                ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
              <h3>Sara Wilsson</h3>
              <h4>Designer</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis
                quorum
                velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
              <h3>Jena Karlis</h3>
              <h4>Store Owner</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor
                labore quem eram duis noster aute amet eram fore quis sint minim.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
              <h3>Matt Brandon</h3>
              <h4>Freelancer</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim
                dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
              <h3>John Larson</h3>
              <h4>Entrepreneur</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa
                labore
                duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>

    </div>
  </section>-->
  <!-- End Testimonials Section -->

  <!-- ======= My Portfolio Section ======= -->
  <section id="portfolio" uniScrollSpy="portfolio" class="portfolio">
    <div class="container">
      <div class="section-title">
        <span>My Portfolio</span>
        <h2>My Portfolio</h2>
        <p>"It is much better to execute one’s own duties imperfectly than to learn the responsibilities of
          another."</p>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 portfolio-item" *ngFor="let project of projects">
          <div class="portfolio-img" *ngIf="project.imageList && project.imageList.length > 0; else noImageTemplate">
            <img [src]="project.imageList[0].imagePath" class="img-fluid" [alt]=project.imageList[0].altText>
          </div>
          <ng-template #noImageTemplate>
            <div class="portfolio-no-img h-100">
              <p>No Images Added</p>
            </div>
          </ng-template>
          <div class="portfolio-info">
            <h4 *ngIf="project.projectInfo && project.projectInfo.name">{{project.projectInfo.name}}</h4>
            <p *ngIf="project.projectInfo && project.projectInfo.category">{{project.projectInfo.category}}</p>
            <a [routerLink]="['/project-details',project.id]" class="details-link" title="More Details"><i
              class="bx bx-link"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ======= Contact Me Section ======= -->
  <section id="contact" class="contact" uniScrollSpy="contact">
    <div class="container">

      <div class="section-title">
        <span>Contact Me</span>
        <h2>Contact Me</h2>
        <p>Contact for freelancing or Full time Job Opportunities</p>
      </div>

      <div class="row">

        <div class="col-lg-6">

          <div class="row">
            <div class="col-md-12">
              <div class="info-box">
                <i class="bx bx-share-alt"></i>
                <h3>Social Profiles</h3>
                <div class="social-links">
                  <a href="https://www.linkedin.com/in/kunal-gurav/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <a href="mailto:kunalg30011996@gmail.com">
                <div class="info-box mt-4">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Me</h3>
                  <p>kunalg30011996@gmail.com</p>
                </div>
              </a>
            </div>
            <div class="col-md-6">
              <a href="tel:9594871310">
                <div class="info-box mt-4">
                  <i class="bx bx-phone-call"></i>
                  <h3>Call Me</h3>
                  <p>+91 9594871310</p>
                </div>
              </a>
            </div>
          </div>

        </div>

        <div class="col-lg-6">
          <app-feedback-form></app-feedback-form>
        </div>

      </div>

    </div>
  </section>
  <!-- End Contact Me Section -->

</main>
<!-- End #main -->

<!-- ======= Footer ======= -->
<app-footer></app-footer>
<!-- End Footer -->

<a href="#" class="back-to-top fade" #backToTop><i class="bx bx-chevron-up"></i></a>
